@charset "UTF-8";
/* CSS Document */

/*CHALENGE*/
#selection {    
  display:inline-block;
    margin: 2px 3px;
    border: 1px solid #ccc;
    padding: 10px;
}

.player-pic {
    float: left;
    margin:10px 2px 0px 0px;
    border: #ccc solid 1px;
    border-radius: 10px 10px 10px 10px
}

.player-pic img {
    height:140px;
    width: 120px;
}

.caption {
  margin: 0 0 2px;
  text-align: center;
}




/*REST*/

#container
{
	width:1000px;
	margin: 0px auto;
}

div
{
	display:inline-block;	
}



#playerInfo
{
	display:none;	
	vertical-align:top;
	margin: 20px;
	padding:0px;
	width:600px;
	box-shadow:3px 3px 5px 6px #ccc;
	border-radius:5px;
	background-color:#369;
	text-align:left;
}

#playerPic img
{
	height:240px;
	border-top-left-radius:5px;
}

#playerPic 
{
	border-top-left-radius:5px;
	border-top: solid thin #D5D5D5;
	border-left: solid thin #D5D5D5;
	border-bottom: solid thin #D5D5D5;
}

#playerDetails
{
	background-color:#369;	
	color:#FFF;
	padding:5px;
	width:403px;
	height:230px;
	border-top-right-radius:5px;
	border-top: solid thin #D5D5D5;
	border-right: solid thin #D5D5D5;
	border-bottom: solid thin #D5D5D5;
}

#playerHistory
{
	border: solid 1px #D5D5D5;	
	width:99%;
	display:none;
	border-radius:3px;
}


#firstName
{
	font-size:20px;	
	margin: 0px;
	color:#C0C0C0;
}

#lastName
{
	font-size:80px;	
	margin: 0px;
	margin-bottom:25px;
	text-shadow: 3px 3px #000;
}

#playerPic
{
	float: left;
	padding:0px;
}

#playerDetails h5
{
	display: inline-block;	
	margin:0px;
	margin-right:5px;
}

#shortHistory
{
	background-color:#517693;
	padding:5px;
	margin:0px;
	width: 588px;	
	border-right: solid thin #D5D5D5;
	border-left: solid thin #D5D5D5;
	padding-bottom:20px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	
}



#shortHistory h5:hover
{
	cursor:pointer;
	class		
}

#historyMenu
{
	margin-bottom:5px;
		
}

#playerShortHistory
{
	padding:5px;
	display:inline-block;	
}

#playerShortHistory h3
{
	display:inline-block;	
}


#playerHistory img
{
	border-radius:5px;
	vertical-align:super;
}

#playerHistory img, .currentTeam
{
	padding:10px;
	background-color:#FFF;	
	border: solid thin #D5D5D5;
}

.team
{
	background-color: #ECECEC;
	padding:5px;
	display:block;
	border-top: solid thin #CDCDCD;
}

.team h4
{
	text-align:left;	
	color: black;
	margin:5px;
}

.team h4:hover
{
	cursor:pointer;	
}

.teamData
{
	border-top: solid thin #DDD;
	padding:5px;
	width:95%;	
}

.team:nth-child(even)
{
	background-color: #FFF;	
}

.teamInfo
{
	min-width:250px;
	/*width: 400px;	*/
}

.shortLogo
{
	width:50px;
	height:50px;
	margin-left:10px;
	margin-right:10px;
}

.shortHistTeam
{
	border-radius:25px;
	height:50px;
	border: solid thin #D5D5D5;	
}

.detailsInput
{
	margin-right:10px;	
}

.otherPlayersBtn
{
	margin:5px;
}

li 
{
	list-style-type:none;
	margin-bottom:5px;	
}

.label
{
	margin-right:10px;	
}


.playerCarousel
{
	width: 400px;
	display:block;
	heigth: 200px;	
}